<h1>User Profile</h1>
<img src="{{profilePic}}" alt="" height="100px" width="100px">
<h4>Name : {{userData.attributes.name_en}}</h4>
<h4>Id : {{userData.id}}</h4>

{{#if error}}
<h1>{{error.message}}</h1>
{{/if}}