<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Citizen SSO</title>

</head>

<body>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Spring Boot Citizen SSO</h1>
        <h2>
            <span th:text="${message}"></span>
        </h2>
        <h3><a href="/securedpage">Secured Page</a></h3>
    </div>



</main>

</body>
</html>
