{% load static %}
<html>
 <head>
    <title>Django SSO Citizen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div>
      <h1>Welcome to citizen sso app</h1>
        <a href="{% url 'oidc_authentication_init'%}">Login Here</a> 
      </div>
  </body>
</html>
