{% load static %}
<html>
  <head>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{{ photo  }}" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>{{ data.attributes.name_en }}</h4>
                            <p>{{ uid }}</p>
                            <small><i class="glyphicon glyphicon-map-marker">
                              </i>{{ data.addresses.present_address }}</small>
                            <p>
                                <i class="glyphicon glyphicon-user"></i>{{ data.attributes.gender }}
                                <br />
                  
                              <i class="glyphicon glyphicon-gift"></i>{{ data.attributes.date_of_birth }}</p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</html>