<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <img src=<?php echo "data:image/jpeg;charset=utf-8;base64,". $user_data['attributes']['photo'] ?> 
    alt=""
    height="100px"
    width="100px"/>
  <p> Id :<?php echo $user_data['id'] ?></p>
  <p> Name(English) :<?php echo $user_data['attributes']['name_en'] ?></p>
  <?php if($user_data['attributes']['name_bn'] )echo ('<p> Name(Bangla) :'.$user_data['attributes']['name_bn']. '</p>') ?>
  <p> Date of birth :<?php echo $user_data['attributes']['date_of_birth'] ?></p>
  <?php foreach ($user_data['contacts'] as $contacts){
    echo ('<p>'. $contacts['key'] . " : " . $contacts['value'] . '</p>');
  }?>
  <?php foreach ($user_data['ids'] as $ids){
    echo ('<p>'. $ids['key'] . " : " . $ids['value'] . '</p>');
  }?>
</body>
</html>